# Core functionality - changes here should be rare!
/src/app.py                   @kaunghtetkyaw2017
/src/backend/database.py      @kaunghtetkyaw2017
/src/backend/routers/auth.py  @kaunghtetkyaw2017

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kaunghtetkyaw2017
